flow.json
[{"id":"8c9c76c2.0f6e48","type":"tab","label":"Fechador_1","disabled":false,"info":""},{"id":"df441c86.2fcb6","type":"tab","label":"Fechador_2","disabled":false,"info":""},{"id":"f4f17d82.f77de","type":"tab","label":"Fechador_3","disabled":false,"info":""},{"id":"6b7d9464.279e4c","type":"tab","label":"Fechador_4","disabled":false,"info":""},{"id":"566a2bfa.c38df4","type":"tab","label":"Ajuste de Fecha y Hora","disabled":false,"info":"Flujo para ajustar la fecha y hora desde el Dashboar\ny enviar un comando para sobre escribir el \nRTC del Hardware"},{"id":"99d62bd1.d5fdb8","type":"tab","label":"Control Wemos","disabled":false,"info":""},{"id":"b06d105d.6b8c9","type":"tab","label":"General","disabled":false,"info":""},{"id":"7b7a4cba.284ed4","type":"ui_group","z":"","name":"Contadores","tab":"9bff1bdc.80d9e8","order":6,"disp":true,"width":"6","collapse":false},{"id":"14f5afa4.cf2d5","type":"ui_group","z":"df441c86.2fcb6","name":"Contador 2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6104e21d.b5689c","type":"ui_group","z":"","name":"Fechas","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"9bff1bdc.80d9e8","type":"ui_tab","z":"","name":"Smart Industry","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6f0f5b2c.7ab004","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Industrial Display 4.0 IoT","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"10c147c9.523968","type":"serial-port","z":"","serialport":"/dev/ttyUSB1","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"e084293e.b39048","type":"mqtt-broker","z":"","name":"","broker":"web.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2f2b9fbf.ade7","type":"ui_group","z":"","name":"Contador 1","tab":"9bff1bdc.80d9e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a141f6de.3b0d08","type":"ui_group","z":"","name":"Contador 3","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"7dcc61e7.ced2d","type":"ui_group","z":"","name":"Contador 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"1cc74581.78b27a","type":"ui_group","z":"","name":"WS2812B LED STRIP","tab":"","order":1,"disp":true,"width":"6"},{"id":"5abbb678.068968","type":"ui_group","z":"","name":"Contador 1","tab":"9bff1bdc.80d9e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"9000cfad.683e1","type":"ui_group","z":"","name":"Contador 2","tab":"9bff1bdc.80d9e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"d378d033.b4205","type":"ui_group","z":"","name":"Contador 3","tab":"9bff1bdc.80d9e8","order":4,"disp":true,"width":"6","collapse":false},{"id":"4d61321c.e4b6dc","type":"ui_group","z":"","name":"Contador 4","tab":"9bff1bdc.80d9e8","order":5,"disp":true,"width":"6","collapse":false},{"id":"6da387e8.06b218","type":"ui_group","z":"","name":"Contacto","tab":"9bff1bdc.80d9e8","order":1,"disp":false,"width":"6","collapse":false},{"id":"dfe793fe.6a856","type":"ui_spacer","name":"spacer","group":"6da387e8.06b218","order":6,"width":"6","height":1},{"id":"c3c7a0e3.44143","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"3ec73f9.b0453c","type":"ui_group","z":"","name":"General","tab":"9bff1bdc.80d9e8","disp":true,"width":"6","collapse":false},{"id":"f0f15dd9.b1d06","type":"function","z":"8c9c76c2.0f6e48","name":"actualiza contador","func":"var contador = flow.get('numero')||0;\n\ncontador = msg.payload;\nflow.set('numero',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":690,"y":200,"wires":[["fffa977.cad8a68","4d5a0c4b.74a7e4","c4d8adbf.2afd6"]]},{"id":"98ca6558.603928","type":"inject","z":"8c9c76c2.0f6e48","name":"contador automatico","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":"","x":180,"y":260,"wires":[["b01ee86a.ef1d28"]]},{"id":"4d5a0c4b.74a7e4","type":"ui_text_input","z":"8c9c76c2.0f6e48","name":"","label":"Actualizar conteo 1","tooltip":"","group":"5abbb678.068968","order":1,"width":"6","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","x":690,"y":120,"wires":[["f0f15dd9.b1d06"]]},{"id":"a519f2e1.6ec85","type":"comment","z":"8c9c76c2.0f6e48","name":"Inizializacion de contador con valor almacenado y fecha de ultima sync","info":"","x":290,"y":60,"wires":[]},{"id":"118b6df4.804332","type":"function","z":"8c9c76c2.0f6e48","name":"dias_desde","func":"var selector = flow.get('auto')||0;\nvar Moment =  context.global.get('moment');\nvar d  = global.get('fecha')||0;\nvar cuenta = flow.get('numero')||0;\nvar msg2 = {payload:selector};\n\n\nvar actual =  new Moment();\nvar ultima =  new Moment(d,'DD/MM/YYYY, HH:mm:ss');\n\nvar days = actual.diff(ultima, 'days');\n//flow.set('numero',117);\n\nglobal.set('dias',days);\n\nif(selector === true)\n{\n    msg.payload = cuenta + days;\n    return [msg,msg2]; \n}\nelse\n{\n    msg.payload = cuenta;\n    return [msg,msg2]; \n}\n\n\n","outputs":2,"noerr":0,"x":450,"y":100,"wires":[["f0f15dd9.b1d06"],["678bc762.da19b8"]]},{"id":"fffa977.cad8a68","type":"function","z":"8c9c76c2.0f6e48","name":"Selector_Display","func":"var convertidor;\nvar Moment =  context.global.get('moment');\nvar color = flow.get('color')||0;\nvar numero = flow.get('numero')||0;\nvar fecha = new Moment();\nglobal.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\nvar msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: color}\n\nconvertidor ='|' +  numero + ',' + color + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":690,"y":260,"wires":[["dffcedea.3813a"],[],["ea8d223b.41c3f"]]},{"id":"71985ae0.678a64","type":"inject","z":"566a2bfa.c38df4","name":"Refresh","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":"30","x":160,"y":160,"wires":[["e5861b37.de2948","d91bd3d0.cf54d","68e8ffcb.11174"]]},{"id":"e5861b37.de2948","type":"function","z":"566a2bfa.c38df4","name":"fecha","func":"var Moment =  context.global.get('moment');\n\nvar actual =  new Moment();\nmsg.payload = actual.format('MMMM Do YYYY, HH:mm:ss');\nvar msg2 = {payload: actual.format('HH:mm:ss')};\n//var msg2 = {payload: actual.format('LTS')};\nvar msg3 = {payload: actual.format('LLL')};\n\nreturn [msg, msg2, msg3];","outputs":3,"noerr":0,"x":370,"y":160,"wires":[[],["ba388779.dbf988","a1ed18b3.36f778"],["cc03f82b.7db348","c416f55a.c80ee8"]]},{"id":"6ea5f9f6.093e58","type":"ui_text_input","z":"566a2bfa.c38df4","name":"","label":"Actualizar Hora","group":"7b7a4cba.284ed4","order":2,"width":0,"height":0,"passthru":false,"mode":"time","delay":"0","topic":"","x":1080,"y":140,"wires":[["3482ee9a.c494f2"]]},{"id":"64e52fe0.282bf","type":"ui_date_picker","z":"566a2bfa.c38df4","name":"Fecha Actual","label":"Actualiza fecha del tablero","group":"7b7a4cba.284ed4","order":3,"width":0,"height":0,"passthru":false,"topic":"","x":670,"y":200,"wires":[["d1d746a5.6c4d38"]]},{"id":"550e88bf.47a8c8","type":"comment","z":"566a2bfa.c38df4","name":"Muestra y modifica la fecha y hora del sistema","info":"","x":210,"y":100,"wires":[]},{"id":"d6469dcf.83fdf","type":"exec","z":"566a2bfa.c38df4","command":"sudo hwclock --set --date ","addpay":true,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"","x":1450,"y":200,"wires":[["fcc9e5f6.b3b0d8"],[],[]]},{"id":"d1d746a5.6c4d38","type":"function","z":"566a2bfa.c38df4","name":"formato","func":"var Moment =  context.global.get('moment');\nvar d = msg.payload;\nvar actual =  new Moment(d);\nvar hora = new Moment();\nmsg.payload = '\"' + actual.format('L') + ' ' + hora.format('HH:mm') + '\"';\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":200,"wires":[["b4f8b3d.351f85"]]},{"id":"fcc9e5f6.b3b0d8","type":"exec","z":"566a2bfa.c38df4","command":"sudo hwclock --hctosys","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1730,"y":200,"wires":[["b47da14d.26edd"],["b47da14d.26edd"],["b47da14d.26edd"]]},{"id":"b47da14d.26edd","type":"debug","z":"566a2bfa.c38df4","name":"dias desde","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1970,"y":200,"wires":[]},{"id":"cc03f82b.7db348","type":"rbe","z":"566a2bfa.c38df4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":200,"wires":[["64e52fe0.282bf"]]},{"id":"3482ee9a.c494f2","type":"function","z":"566a2bfa.c38df4","name":"formato","func":"var Moment =  context.global.get('moment');\nvar d = msg.payload;\nvar actual =  new Moment();\nvar hora = new Moment(d);\nmsg.payload = '\"' + actual.format('L') + ' ' + hora.add(6,'hours').format('HH:mm') + '\"';\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":140,"wires":[["d6469dcf.83fdf","a4e9975e.bc2178"]]},{"id":"b4f8b3d.351f85","type":"delay","z":"566a2bfa.c38df4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":200,"wires":[["d6469dcf.83fdf","a4e9975e.bc2178"]]},{"id":"306e8536.68194a","type":"mqtt in","z":"8c9c76c2.0f6e48","name":"","topic":"display/cuenta_1","qos":"2","broker":"e084293e.b39048","x":140,"y":180,"wires":[["289860b.0c4dfa"]]},{"id":"3bb79201.f14b8e","type":"mqtt in","z":"566a2bfa.c38df4","name":"","topic":"display/fecha/ajuste","qos":"2","broker":"e084293e.b39048","x":690,"y":260,"wires":[["d1d746a5.6c4d38","a4e9975e.bc2178"]]},{"id":"a4e9975e.bc2178","type":"debug","z":"566a2bfa.c38df4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":360,"wires":[]},{"id":"a21a0a7a.e66738","type":"mqtt out","z":"566a2bfa.c38df4","name":"","topic":"display/fecha","qos":"","retain":"","broker":"e084293e.b39048","x":830,"y":340,"wires":[]},{"id":"ba388779.dbf988","type":"function","z":"566a2bfa.c38df4","name":"formato","func":"var Moment =  context.global.get('moment');\nvar d = msg.payload;\nvar actual =  new Moment(d);\nvar hora = new Moment();\nmsg.payload =  hora.format('HH:mm');\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":80,"wires":[["bc248748.4fe858"]]},{"id":"bc248748.4fe858","type":"rbe","z":"566a2bfa.c38df4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":80,"wires":[["54f248a6.87a518"]]},{"id":"54f248a6.87a518","type":"mqtt out","z":"566a2bfa.c38df4","name":"","topic":"display/hora","qos":"","retain":"","broker":"e084293e.b39048","x":850,"y":80,"wires":[]},{"id":"3da29bab.aa9dd4","type":"mqtt in","z":"566a2bfa.c38df4","name":"","topic":"display/hora/ajuste","qos":"2","broker":"e084293e.b39048","x":1090,"y":80,"wires":[["3482ee9a.c494f2","a4e9975e.bc2178"]]},{"id":"c416f55a.c80ee8","type":"function","z":"566a2bfa.c38df4","name":"formato","func":"var Moment =  context.global.get('moment');\nvar d = msg.payload;\nvar actual =  new Moment(d);\nvar hora = new Moment();\nmsg.payload =  actual.format('DD/MM/YYYY');\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":340,"wires":[["a121a79f.180518"]]},{"id":"a94f38a2.4d0638","type":"rbe","z":"566a2bfa.c38df4","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":770,"y":140,"wires":[["c7323b55.104e18"]]},{"id":"c7323b55.104e18","type":"delay","z":"566a2bfa.c38df4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":910,"y":140,"wires":[["6ea5f9f6.093e58"]]},{"id":"a121a79f.180518","type":"rbe","z":"566a2bfa.c38df4","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":690,"y":340,"wires":[["a21a0a7a.e66738"]]},{"id":"32c132aa.72794e","type":"mqtt in","z":"8c9c76c2.0f6e48","name":"","topic":"display/color_1","qos":"0","broker":"e084293e.b39048","x":140,"y":320,"wires":[["b7900649.2a24f8"]]},{"id":"b7900649.2a24f8","type":"function","z":"8c9c76c2.0f6e48","name":"Set Color","func":"var color = flow.get('color')||0;\ncolor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('color',color);\n\nmsg = {payload: color};\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["fffa977.cad8a68","ea8d223b.41c3f"]]},{"id":"b01ee86a.ef1d28","type":"function","z":"8c9c76c2.0f6e48","name":"AutoCont","func":"var contador = flow.get('numero')||0;\nvar selector = flow.get('auto')||0;\n\n\nif(selector === true)\n{\n    contador = (contador + 1)/1;\n    msg.payload = contador;\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["f0f15dd9.b1d06"]]},{"id":"289860b.0c4dfa","type":"function","z":"8c9c76c2.0f6e48","name":"conversor_Int","func":"var contador = msg.payload;\n\ncontador = contador / 1; //Lo convierte a entero\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["f0f15dd9.b1d06"]]},{"id":"d422f8cd.977cc8","type":"ui_switch","z":"8c9c76c2.0f6e48","name":"","label":"Conteo Automatico","tooltip":"","group":"5abbb678.068968","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":440,"wires":[["678bc762.da19b8"]]},{"id":"678bc762.da19b8","type":"function","z":"8c9c76c2.0f6e48","name":"Activador","func":"var selector = msg.payload;\n\nflow.set('auto',selector);\n\nmsg.payload = flow.get('auto')||false;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":440,"wires":[["d422f8cd.977cc8"]]},{"id":"2a7d5b34.7dfd44","type":"function","z":"df441c86.2fcb6","name":"actualiza contador","func":"var contador = flow.get('numero')||0;\n\ncontador = msg.payload;\nflow.set('numero',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["8ac71382.b9aef","7354caa6.aeaed4","d0a7c207.f5ed6"]]},{"id":"61985659.7c4198","type":"inject","z":"df441c86.2fcb6","name":"contador automatico","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":"","x":180,"y":240,"wires":[["95828a36.6188c8"]]},{"id":"8ac71382.b9aef","type":"ui_text_input","z":"df441c86.2fcb6","name":"","label":"Actualizar conteo 2","tooltip":"","group":"9000cfad.683e1","order":1,"width":"6","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","x":690,"y":100,"wires":[["2a7d5b34.7dfd44"]]},{"id":"f3319030.ea0f3","type":"comment","z":"df441c86.2fcb6","name":"Inizializacion de contador con valor almacenado y fecha de ultima sync","info":"","x":290,"y":40,"wires":[]},{"id":"d3744b55.3273f8","type":"function","z":"df441c86.2fcb6","name":"dias_desde","func":"var selector = flow.get('auto')||0;\nvar Moment =  context.global.get('moment');\nvar d  = global.get('fecha')||0;\nvar cuenta = flow.get('numero')||0;\nvar msg2 = {payload:selector};\n\n\nvar actual =  new Moment();\nvar ultima =  new Moment(d,'DD/MM/YYYY, HH:mm:ss');\n\nvar days = actual.diff(ultima, 'days');\n//flow.set('numero',117);\n\nglobal.set('dias',days);\n\nif(selector === true)\n{\n    msg.payload = cuenta + days;\n    return [msg,msg2]; \n}\nelse\n{\n    msg.payload = cuenta;\n    return [msg,msg2]; \n}\n\n\n","outputs":2,"noerr":0,"x":450,"y":80,"wires":[["2a7d5b34.7dfd44"],["8c39c1b6.600cd"]]},{"id":"7354caa6.aeaed4","type":"function","z":"df441c86.2fcb6","name":"Selector_Display","func":"var convertidor;\nvar Moment =  context.global.get('moment');\nvar color = flow.get('color')||0;\nvar numero = flow.get('numero')||0;\nvar fecha = new Moment();\nglobal.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\nvar msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: color};\n\nconvertidor ='/' +  numero + ',' + color + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":690,"y":240,"wires":[["dda4e7d9.02fa78"],[],["f1ac4dbc.8e6"]]},{"id":"fc2d82b8.1e79","type":"mqtt in","z":"df441c86.2fcb6","name":"","topic":"display/cuenta_2","qos":"2","broker":"e084293e.b39048","x":140,"y":160,"wires":[["60fe2413.4132ac"]]},{"id":"95828a36.6188c8","type":"function","z":"df441c86.2fcb6","name":"AutoCont","func":"var contador = flow.get('numero')||0;\nvar selector = flow.get('auto')||0;\n\n\nif(selector === true)\n{\n    contador = (contador + 1)/1;\n    msg.payload = contador;\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["2a7d5b34.7dfd44"]]},{"id":"60fe2413.4132ac","type":"function","z":"df441c86.2fcb6","name":"conversor_Int","func":"var contador = msg.payload;\n\ncontador = contador / 1; //Lo convierte a entero\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["2a7d5b34.7dfd44"]]},{"id":"3631ed87.644012","type":"ui_switch","z":"df441c86.2fcb6","name":"","label":"Conteo Automatico","tooltip":"","group":"9000cfad.683e1","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":440,"wires":[["8c39c1b6.600cd"]]},{"id":"8c39c1b6.600cd","type":"function","z":"df441c86.2fcb6","name":"Activador","func":"var selector = msg.payload;\n\nflow.set('auto',selector);\n\nmsg.payload = flow.get('auto')||false;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":440,"wires":[["3631ed87.644012"]]},{"id":"8576d67f.77d7f8","type":"mqtt in","z":"df441c86.2fcb6","name":"","topic":"display/color_2","qos":"0","broker":"e084293e.b39048","x":140,"y":300,"wires":[["606b5ed2.e82fd","d3744b55.3273f8"]]},{"id":"606b5ed2.e82fd","type":"function","z":"df441c86.2fcb6","name":"Set Color","func":"var color = flow.get('color')||0;\ncolor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('color',color);\n\nmsg = {payload: true};\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["7354caa6.aeaed4","f1ac4dbc.8e6"]]},{"id":"25cbb582.86d3ba","type":"function","z":"f4f17d82.f77de","name":"actualiza contador","func":"var contador = flow.get('numero')||0;\n\ncontador = msg.payload;\nflow.set('numero',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["441927eb.979178","3489e435.4a5f4c","36e908a0.b33a68"]]},{"id":"94bf1fa2.aaed3","type":"inject","z":"f4f17d82.f77de","name":"contador automatico","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":"","x":180,"y":240,"wires":[["9731df39.a0c22"]]},{"id":"441927eb.979178","type":"ui_text_input","z":"f4f17d82.f77de","name":"","label":"Actualizar conteo 3","tooltip":"","group":"d378d033.b4205","order":1,"width":"6","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","x":690,"y":100,"wires":[["25cbb582.86d3ba"]]},{"id":"4d4e753c.82fbec","type":"comment","z":"f4f17d82.f77de","name":"Inizializacion de contador con valor almacenado y fecha de ultima sync","info":"","x":290,"y":40,"wires":[]},{"id":"63f8f2d5.fb507c","type":"function","z":"f4f17d82.f77de","name":"dias_desde","func":"var selector = flow.get('auto')||0;\nvar Moment =  context.global.get('moment');\nvar d  = global.get('fecha')||0;\nvar cuenta = flow.get('numero')||0;\nvar msg2 = {payload:selector};\n\n\nvar actual =  new Moment();\nvar ultima =  new Moment(d,'DD/MM/YYYY, HH:mm:ss');\n\nvar days = actual.diff(ultima, 'days');\n//flow.set('numero',117);\n\nglobal.set('dias',days);\n\nif(selector === true)\n{\n    msg.payload = cuenta + days;\n    return [msg,msg2]; \n}\nelse\n{\n    msg.payload = cuenta;\n    return [msg,msg2]; \n}\n\n\n","outputs":2,"noerr":0,"x":450,"y":80,"wires":[["25cbb582.86d3ba"],["1a7f2481.5efe9b"]]},{"id":"3489e435.4a5f4c","type":"function","z":"f4f17d82.f77de","name":"Selector_Display","func":"var convertidor;\nvar Moment =  context.global.get('moment');\nvar color = flow.get('color')||0;\nvar numero = flow.get('numero')||0;\nvar fecha = new Moment();\nglobal.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\nvar msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: color};\n\nconvertidor ='*' +  numero + ',' + color + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":690,"y":240,"wires":[["25b61a50.b66ca6"],[],["eb3ecfe0.541cc"]]},{"id":"3f23c4d1.66cf3c","type":"mqtt in","z":"f4f17d82.f77de","name":"","topic":"display/cuenta_3","qos":"2","broker":"e084293e.b39048","x":140,"y":160,"wires":[["d78886ff.5e09e8"]]},{"id":"9731df39.a0c22","type":"function","z":"f4f17d82.f77de","name":"AutoCont","func":"var contador = flow.get('numero')||0;\nvar selector = flow.get('auto')||0;\n\n\nif(selector === true)\n{\n    contador = (contador + 1)/1;\n    msg.payload = contador;\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["25cbb582.86d3ba"]]},{"id":"d78886ff.5e09e8","type":"function","z":"f4f17d82.f77de","name":"conversor_Int","func":"var contador = msg.payload;\n\ncontador = contador / 1; //Lo convierte a entero\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["25cbb582.86d3ba"]]},{"id":"8dcb319b.56c53","type":"ui_switch","z":"f4f17d82.f77de","name":"","label":"Conteo Automatico","tooltip":"","group":"d378d033.b4205","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":440,"wires":[["1a7f2481.5efe9b"]]},{"id":"1a7f2481.5efe9b","type":"function","z":"f4f17d82.f77de","name":"Activador","func":"var selector = msg.payload;\n\nflow.set('auto',selector);\n\nmsg.payload = flow.get('auto')||false;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":440,"wires":[["8dcb319b.56c53"]]},{"id":"105a7d10.cbed13","type":"mqtt in","z":"f4f17d82.f77de","name":"","topic":"display/color_3","qos":"0","broker":"e084293e.b39048","x":140,"y":300,"wires":[["22982852.585168","63f8f2d5.fb507c"]]},{"id":"22982852.585168","type":"function","z":"f4f17d82.f77de","name":"Set Color","func":"var color = flow.get('color')||0;\ncolor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('color',color);\n\nmsg = {payload: true};\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["3489e435.4a5f4c","eb3ecfe0.541cc"]]},{"id":"c85a53f5.67e53","type":"function","z":"6b7d9464.279e4c","name":"actualiza contador","func":"var contador = flow.get('numero')||0;\n\ncontador = msg.payload;\nflow.set('numero',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":670,"y":180,"wires":[["c60c4f9c.a487d","277e379e.ad80b8","78236f3d.6389a"]]},{"id":"c0635255.8255f","type":"inject","z":"6b7d9464.279e4c","name":"contador automatico","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":"","x":160,"y":240,"wires":[["4e360e92.6705b"]]},{"id":"c60c4f9c.a487d","type":"ui_text_input","z":"6b7d9464.279e4c","name":"","label":"Actualizar conteo 4","tooltip":"","group":"4d61321c.e4b6dc","order":1,"width":"6","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","x":670,"y":100,"wires":[["c85a53f5.67e53"]]},{"id":"25fd7247.fedb9e","type":"comment","z":"6b7d9464.279e4c","name":"Inizializacion de contador con valor almacenado y fecha de ultima sync","info":"","x":270,"y":40,"wires":[]},{"id":"cc694e5f.639b9","type":"function","z":"6b7d9464.279e4c","name":"dias_desde","func":"var selector = flow.get('auto')||0;\nvar Moment =  context.global.get('moment');\nvar d  = global.get('fecha')||0;\nvar cuenta = flow.get('numero')||0;\nvar msg2 = {payload:selector};\n\n\nvar actual =  new Moment();\nvar ultima =  new Moment(d,'DD/MM/YYYY, HH:mm:ss');\n\nvar days = actual.diff(ultima, 'days');\n//flow.set('numero',117);\n\nglobal.set('dias',days);\n\nif(selector === true)\n{\n    msg.payload = cuenta + days;\n    return [msg,msg2]; \n}\nelse\n{\n    msg.payload = cuenta;\n    return [msg,msg2]; \n}\n\n\n","outputs":2,"noerr":0,"x":430,"y":80,"wires":[["c85a53f5.67e53"],["afc92f3a.575c5"]]},{"id":"277e379e.ad80b8","type":"function","z":"6b7d9464.279e4c","name":"Selector_Display","func":"var convertidor;\nvar Moment =  context.global.get('moment');\nvar color = flow.get('color')||0;\nvar numero = flow.get('numero')||0;\nvar fecha = new Moment();\nglobal.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\nvar msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: color};\n\nconvertidor ='!' +  numero + ',' + color + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":670,"y":240,"wires":[["1e0839cd.176876"],[],["66eb76f9.8d0828"]]},{"id":"2192a795.e9c4f8","type":"mqtt in","z":"6b7d9464.279e4c","name":"","topic":"display/cuenta_4","qos":"2","broker":"e084293e.b39048","x":120,"y":160,"wires":[["52e8d87b.45a498"]]},{"id":"4e360e92.6705b","type":"function","z":"6b7d9464.279e4c","name":"AutoCont","func":"var contador = flow.get('numero')||0;\nvar selector = flow.get('auto')||0;\n\n\nif(selector === true)\n{\n    contador = (contador + 1)/1;\n    msg.payload = contador;\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["c85a53f5.67e53"]]},{"id":"52e8d87b.45a498","type":"function","z":"6b7d9464.279e4c","name":"conversor_Int","func":"var contador = msg.payload;\n\ncontador = contador / 1; //Lo convierte a entero\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["c85a53f5.67e53"]]},{"id":"60227cfa.992654","type":"ui_switch","z":"6b7d9464.279e4c","name":"","label":"Conteo Automatico","tooltip":"","group":"4d61321c.e4b6dc","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":440,"wires":[["afc92f3a.575c5"]]},{"id":"afc92f3a.575c5","type":"function","z":"6b7d9464.279e4c","name":"Activador","func":"var selector = msg.payload;\n\nflow.set('auto',selector);\n\nmsg.payload = flow.get('auto')||false;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["60227cfa.992654"]]},{"id":"d6dc6032.97cbf","type":"mqtt in","z":"6b7d9464.279e4c","name":"","topic":"display/color_4","qos":"0","broker":"e084293e.b39048","x":120,"y":300,"wires":[["388dd483.f8c08c","cc694e5f.639b9"]]},{"id":"388dd483.f8c08c","type":"function","z":"6b7d9464.279e4c","name":"Set Color","func":"var color = flow.get('color')||0;\ncolor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('color',color);\n\nmsg = {payload: true};\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["277e379e.ad80b8","66eb76f9.8d0828"]]},{"id":"c4d8adbf.2afd6","type":"mqtt out","z":"8c9c76c2.0f6e48","name":"","topic":"display/disp_1","qos":"0","retain":"false","broker":"e084293e.b39048","x":960,"y":200,"wires":[]},{"id":"dffcedea.3813a","type":"link out","z":"8c9c76c2.0f6e48","name":"fechador_1","links":["ee285d5f.ca582","61e44e8f.eb97"],"x":880,"y":260,"wires":[]},{"id":"dda4e7d9.02fa78","type":"link out","z":"df441c86.2fcb6","name":"fechador_2","links":["ee285d5f.ca582","61e44e8f.eb97"],"x":855,"y":240,"wires":[]},{"id":"25b61a50.b66ca6","type":"link out","z":"f4f17d82.f77de","name":"fechador_3","links":["ee285d5f.ca582","61e44e8f.eb97"],"x":895,"y":240,"wires":[]},{"id":"1e0839cd.176876","type":"link out","z":"6b7d9464.279e4c","name":"fechador_4","links":["ee285d5f.ca582","61e44e8f.eb97"],"x":880,"y":260,"wires":[]},{"id":"d0a7c207.f5ed6","type":"mqtt out","z":"df441c86.2fcb6","name":"","topic":"display/disp_2","qos":"0","retain":"false","broker":"e084293e.b39048","x":920,"y":180,"wires":[]},{"id":"36e908a0.b33a68","type":"mqtt out","z":"f4f17d82.f77de","name":"","topic":"display/disp_3","qos":"0","retain":"false","broker":"e084293e.b39048","x":940,"y":180,"wires":[]},{"id":"78236f3d.6389a","type":"mqtt out","z":"6b7d9464.279e4c","name":"","topic":"display/disp_4","qos":"0","retain":"false","broker":"e084293e.b39048","x":920,"y":180,"wires":[]},{"id":"496c9c10.044d04","type":"link in","z":"8c9c76c2.0f6e48","name":"refresh_1","links":["d91bd3d0.cf54d"],"x":175,"y":100,"wires":[["118b6df4.804332"]]},{"id":"d91bd3d0.cf54d","type":"link out","z":"566a2bfa.c38df4","name":"tiempo_refresh","links":["496c9c10.044d04","c42524bb.938708","327a0f6e.618e2","c5617e66.b6fba"],"x":300,"y":260,"wires":[]},{"id":"c42524bb.938708","type":"link in","z":"df441c86.2fcb6","name":"refresh_2","links":["146f51f1.91972e","d91bd3d0.cf54d"],"x":255,"y":80,"wires":[["d3744b55.3273f8"]]},{"id":"327a0f6e.618e2","type":"link in","z":"f4f17d82.f77de","name":"refresh_3","links":["146f51f1.91972e","d91bd3d0.cf54d"],"x":180,"y":80,"wires":[["63f8f2d5.fb507c"]]},{"id":"c5617e66.b6fba","type":"link in","z":"6b7d9464.279e4c","name":"refresh_4","links":["146f51f1.91972e","d91bd3d0.cf54d"],"x":120,"y":80,"wires":[["cc694e5f.639b9"]]},{"id":"ea8d223b.41c3f","type":"ui_dropdown","z":"8c9c76c2.0f6e48","name":"","label":"Color","tooltip":"","place":"Seleccionar color","group":"5abbb678.068968","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"100","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"},{"label":"Blanco","value":"0","type":"str"}],"payload":"","topic":"","x":670,"y":320,"wires":[["b7900649.2a24f8"]]},{"id":"f1ac4dbc.8e6","type":"ui_dropdown","z":"df441c86.2fcb6","name":"","label":"Color","tooltip":"","place":"Seleccionar color","group":"9000cfad.683e1","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"100","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"},{"label":"Blanco","value":"0","type":"str"}],"payload":"","topic":"","x":650,"y":300,"wires":[["606b5ed2.e82fd"]]},{"id":"eb3ecfe0.541cc","type":"ui_dropdown","z":"f4f17d82.f77de","name":"","label":"Color","tooltip":"","place":"Seleccionar color","group":"d378d033.b4205","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"100","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"},{"label":"Blanco","value":"0","type":"str"}],"payload":"","topic":"","x":650,"y":300,"wires":[["22982852.585168"]]},{"id":"66eb76f9.8d0828","type":"ui_dropdown","z":"6b7d9464.279e4c","name":"","label":"Color","tooltip":"","place":"Seleccionar color","group":"4d61321c.e4b6dc","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"100","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"},{"label":"Blanco","value":"0","type":"str"}],"payload":"","topic":"","x":630,"y":300,"wires":[["388dd483.f8c08c"]]},{"id":"68e8ffcb.11174","type":"ui_template","z":"566a2bfa.c38df4","group":"6da387e8.06b218","name":"Logo","order":2,"width":"0","height":"0","format":"\n<img src=\"https://static.wixstatic.com/media/a3a830_61f357cc9c154582b58d0b7b64c96c85~mv2.png/v1/fill/w_1038,h_94,al_c,q_80,usm_0.66_1.00_0.01/logo%20pagina%20web.webp\" style=\"width:100%;\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":330,"y":420,"wires":[[]]},{"id":"b84b354e.7df9d8","type":"ui_button","z":"b06d105d.6b8c9","name":"","group":"3ec73f9.b0453c","order":1,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":400,"y":40,"wires":[["8252a8bd.acab18"]]},{"id":"8252a8bd.acab18","type":"exec","z":"b06d105d.6b8c9","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":650,"y":40,"wires":[[],[],[]]},{"id":"4de4f52f.bed21c","type":"switch","z":"99d62bd1.d5fdb8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\\SHUTDOWN","vt":"str"},{"t":"cont","v":"SSID:","vt":"str"},{"t":"cont","v":"PSWD:","vt":"str"},{"t":"cont","v":"*","vt":"str"},{"t":"cont","v":"+","vt":"str"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"-","vt":"str"},{"t":"cont","v":"!","vt":"str"},{"t":"cont","v":"?","vt":"str"},{"t":"cont","v":".","vt":"str"},{"t":"cont","v":"_","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":230,"y":280,"wires":[["31266e38.60b052"],["3209081a.05a628"],["19845ccd.b9b7a3"],["586065d.110889c"],["11d4c122.7988ff"],["84972931.a66418"],["df208494.e72bb8"],["1c9ca012.8bd29"],["8b08848c.6e4458"],["1c327091.1882ff"],["87aed3f.782a83"]]},{"id":"3209081a.05a628","type":"change","z":"99d62bd1.d5fdb8","name":"Remove \"SSID:\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"SSID:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":402.5454406738281,"y":92.27272033691406,"wires":[["f1bf27aa.c0c6b8"]]},{"id":"19845ccd.b9b7a3","type":"change","z":"99d62bd1.d5fdb8","name":"Remove \"PSWD:\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"PSWD:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":413.8181838989258,"y":127.63635635375977,"wires":[["100fd01.e8aab3"]]},{"id":"586065d.110889c","type":"change","z":"99d62bd1.d5fdb8","name":"Remove \"*\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"*","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400.36360931396484,"y":173.36366844177246,"wires":[["35a9f9ef.f05f66"]]},{"id":"84972931.a66418","type":"change","z":"99d62bd1.d5fdb8","name":"Remove \"/\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"/","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":240,"wires":[["46aa6c53.177804"]]},{"id":"11d4c122.7988ff","type":"change","z":"99d62bd1.d5fdb8","name":"Remove \"+\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"+","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":399.63636779785156,"y":203.54545211791992,"wires":[["959ad752.3b3598"]]},{"id":"df208494.e72bb8","type":"change","z":"99d62bd1.d5fdb8","name":"Remove \"-\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"-","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":399.3635673522949,"y":274.7273302078247,"wires":[["7ce8865c.d8f558"]]},{"id":"8b08848c.6e4458","type":"change","z":"99d62bd1.d5fdb8","name":"Remove \"?\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"?","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":401.36355209350586,"y":342.6364102959633,"wires":[["141a697e.d63fe7"]]},{"id":"1c327091.1882ff","type":"change","z":"99d62bd1.d5fdb8","name":"Remove \".\"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":402.4545669555664,"y":388.72729682922363,"wires":[["424a5a0d.7b1604"]]},{"id":"87aed3f.782a83","type":"change","z":"99d62bd1.d5fdb8","name":"Remove \"_\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"_","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":401.4545249938965,"y":414.7273473739624,"wires":[["65fc2de.53d33d4"]]},{"id":"1c9ca012.8bd29","type":"change","z":"99d62bd1.d5fdb8","name":"Remove \"!\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"!","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":401.18180084228516,"y":318.18189239501953,"wires":[["2bea467.1db5aba"]]},{"id":"cb27591c.4e8948","type":"serial in","z":"b06d105d.6b8c9","name":"","serial":"c3c7a0e3.44143","x":250,"y":100,"wires":[["c90fa288.e9cfa"]]},{"id":"3460a3fc.2be22c","type":"serial out","z":"b06d105d.6b8c9","name":"","serial":"10c147c9.523968","x":870,"y":160,"wires":[]},{"id":"122243fd.2895dc","type":"delay","z":"b06d105d.6b8c9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":120,"wires":[["3460a3fc.2be22c","30adffb3.8fe06"]]},{"id":"61e44e8f.eb97","type":"link in","z":"b06d105d.6b8c9","name":"to serial","links":["1e0839cd.176876","25b61a50.b66ca6","dda4e7d9.02fa78","dffcedea.3813a","dbf0fe4c.ecd32"],"x":595,"y":120,"wires":[["122243fd.2895dc"]]},{"id":"30adffb3.8fe06","type":"serial out","z":"b06d105d.6b8c9","name":"","serial":"c3c7a0e3.44143","x":870,"y":100,"wires":[]},{"id":"c2149c59.374d","type":"serial in","z":"b06d105d.6b8c9","name":"","serial":"10c147c9.523968","x":250,"y":160,"wires":[["c90fa288.e9cfa"]]},{"id":"c90fa288.e9cfa","type":"link out","z":"b06d105d.6b8c9","name":"from-serial","links":["8723fdc4.8b48a"],"x":415,"y":120,"wires":[]},{"id":"8723fdc4.8b48a","type":"link in","z":"99d62bd1.d5fdb8","name":"from serial","links":["c90fa288.e9cfa"],"x":95,"y":280,"wires":[["4de4f52f.bed21c"]]},{"id":"35a9f9ef.f05f66","type":"link out","z":"99d62bd1.d5fdb8","name":"cont1","links":["10cb75c6.bbd7fa"],"x":535,"y":180,"wires":[]},{"id":"46aa6c53.177804","type":"link out","z":"99d62bd1.d5fdb8","name":"cont2","links":["d62a012e.07035"],"x":535,"y":240,"wires":[]},{"id":"2bea467.1db5aba","type":"link out","z":"99d62bd1.d5fdb8","name":"cont3","links":["5578a667.498d98"],"x":535,"y":320,"wires":[]},{"id":"424a5a0d.7b1604","type":"link out","z":"99d62bd1.d5fdb8","name":"cont4","links":["e552dc10.99cbe"],"x":535,"y":380,"wires":[]},{"id":"959ad752.3b3598","type":"link out","z":"99d62bd1.d5fdb8","name":"col1","links":["46993f62.48034"],"x":535,"y":200,"wires":[]},{"id":"7ce8865c.d8f558","type":"link out","z":"99d62bd1.d5fdb8","name":"col2","links":["938637d0.f73c58"],"x":535,"y":280,"wires":[]},{"id":"141a697e.d63fe7","type":"link out","z":"99d62bd1.d5fdb8","name":"col3","links":["402d0c6c.9d2a44"],"x":535,"y":340,"wires":[]},{"id":"65fc2de.53d33d4","type":"link out","z":"99d62bd1.d5fdb8","name":"col4","links":["c90c0b4e.454e68"],"x":535,"y":420,"wires":[]},{"id":"f1bf27aa.c0c6b8","type":"split","z":"99d62bd1.d5fdb8","name":"Remove \"\\n\"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":590,"y":80,"wires":[["49b7fd47.e6bda4"]]},{"id":"100fd01.e8aab3","type":"split","z":"99d62bd1.d5fdb8","name":"Remove \"\\n\"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":590,"y":120,"wires":[["5de9d54a.f507fc"]]},{"id":"e552dc10.99cbe","type":"link in","z":"6b7d9464.279e4c","name":"contador4","links":["424a5a0d.7b1604"],"x":495,"y":200,"wires":[["c85a53f5.67e53"]]},{"id":"c90c0b4e.454e68","type":"link in","z":"6b7d9464.279e4c","name":"color4","links":["65fc2de.53d33d4"],"x":315,"y":340,"wires":[["388dd483.f8c08c"]]},{"id":"5578a667.498d98","type":"link in","z":"f4f17d82.f77de","name":"contador3","links":["2bea467.1db5aba"],"x":515,"y":200,"wires":[["25cbb582.86d3ba"]]},{"id":"402d0c6c.9d2a44","type":"link in","z":"f4f17d82.f77de","name":"color3","links":["141a697e.d63fe7"],"x":335,"y":320,"wires":[["22982852.585168"]]},{"id":"d62a012e.07035","type":"link in","z":"df441c86.2fcb6","name":"contador2","links":["46aa6c53.177804"],"x":495,"y":200,"wires":[["2a7d5b34.7dfd44"]]},{"id":"938637d0.f73c58","type":"link in","z":"df441c86.2fcb6","name":"color2","links":["7ce8865c.d8f558"],"x":335,"y":340,"wires":[["606b5ed2.e82fd"]]},{"id":"10cb75c6.bbd7fa","type":"link in","z":"8c9c76c2.0f6e48","name":"contador1","links":["35a9f9ef.f05f66"],"x":515,"y":220,"wires":[["f0f15dd9.b1d06"]]},{"id":"46993f62.48034","type":"link in","z":"8c9c76c2.0f6e48","name":"color1","links":["959ad752.3b3598"],"x":335,"y":340,"wires":[["b7900649.2a24f8"]]},{"id":"c23e5a5a.8e9a98","type":"function","z":"99d62bd1.d5fdb8","name":"Go Global","func":"var ssid1 = msg.payload\n//Quita caracteres indeseados al final\nvar ssid = ssid1.substring(0, ssid1.length - 1);\nmsg.payload=ssid\nglobal.set(\"ssid\",ssid);\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":80,"wires":[["a7eb0ed6.5f7db"]]},{"id":"3eeee535.754f1a","type":"function","z":"99d62bd1.d5fdb8","name":"Go Global","func":"pass = msg.payload\n//Quita caracteres indeseados al final\nvar pass1 = pass.substring(0, pass.length - 1);\nmsg.payload=pass1\nglobal.set(\"pass\",pass1);\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":120,"wires":[["ac3e17f7.e7c2d8"]]},{"id":"ac3e17f7.e7c2d8","type":"link out","z":"99d62bd1.d5fdb8","name":"Connect WiFi","links":["5356a6b3.911638"],"x":995,"y":120,"wires":[]},{"id":"5356a6b3.911638","type":"link in","z":"b06d105d.6b8c9","name":"Connect WiFi","links":["ac3e17f7.e7c2d8"],"x":135,"y":280,"wires":[["e11f75d.c759488"]]},{"id":"ec6201e.4a64b","type":"delay","z":"b06d105d.6b8c9","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":360,"wires":[["28ae2d7f.1ad322"]]},{"id":"28ae2d7f.1ad322","type":"exec","z":"b06d105d.6b8c9","command":"iwgetid","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":720,"y":360,"wires":[["16abef24.ce64a1","dbf0fe4c.ecd32","1e78b24a.9c680e"],[],[]]},{"id":"16abef24.ce64a1","type":"debug","z":"b06d105d.6b8c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":340,"wires":[]},{"id":"32e64ca3.b15fa4","type":"exec","z":"b06d105d.6b8c9","command":"sudo wpa_cli -i wlan0 reconfigure","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":300,"y":360,"wires":[["ec6201e.4a64b"],[],[]]},{"id":"31266e38.60b052","type":"exec","z":"99d62bd1.d5fdb8","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"\\SHUTDOWN","x":440,"y":560,"wires":[[],[],[]]},{"id":"49b7fd47.e6bda4","type":"switch","z":"99d62bd1.d5fdb8","name":"Permite Espacios en SSID","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":675,"y":80,"wires":[["c23e5a5a.8e9a98"]],"l":false},{"id":"5de9d54a.f507fc","type":"switch","z":"99d62bd1.d5fdb8","name":"Permite Espacios en SSID","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":675,"y":120,"wires":[["3eeee535.754f1a"]],"l":false},{"id":"a7eb0ed6.5f7db","type":"debug","z":"99d62bd1.d5fdb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":240,"wires":[]},{"id":"a1ed18b3.36f778","type":"moment","z":"566a2bfa.c38df4","name":"","topic":"","input":"payload","inputType":"msg","inTz":"America/Mexico_City","adjAmount":"6","adjType":"hours","adjDir":"subtract","format":"","locale":"es_MX","output":"payload","outputType":"msg","outTz":"America/Mexico_City","x":580,"y":140,"wires":[["a94f38a2.4d0638"]]},{"id":"85ddca5f.390138","type":"file","z":"b06d105d.6b8c9","name":"","filename":"/etc/wpa_supplicant/wpa_supplicant.conf","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":560,"y":280,"wires":[["f47f7d56.f9a73"]]},{"id":"e11f75d.c759488","type":"function","z":"b06d105d.6b8c9","name":"SSID + PASS","func":"var ssid = global.get('ssid')\nvar pass = global.get('pass')\nmsg.payload = 'ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev\\nupdate_config=1\\ncountry=MX\\n\\nnetwork={\\n\\tssid=\"'+ ssid +'\"\\n\\tpsk=\"'+ pass +'\"\\n}'\nreturn msg","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["85ddca5f.390138"]]},{"id":"bea81f04.d1543","type":"inject","z":"b06d105d.6b8c9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":540,"wires":[["abc38d66.e5ef7"]]},{"id":"c036ae3e.8f2b3","type":"exec","z":"b06d105d.6b8c9","command":"sudo chmod -R ugo+rw \"/etc/wpa_supplicant/wpa_supplicant.conf\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Acceso para editar wpa_supplicant.","x":720,"y":540,"wires":[["6fb0e36a.a506dc"],[],[]]},{"id":"abc38d66.e5ef7","type":"function","z":"b06d105d.6b8c9","name":"Check First Time","func":"var firstTimeON = global.get(\"firstTimeON\")||0;\nmsg.payload=firstTimeON\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["53d1e7b1.968938"]]},{"id":"f47f7d56.f9a73","type":"delay","z":"b06d105d.6b8c9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":280,"wires":[["32e64ca3.b15fa4"]]},{"id":"53d1e7b1.968938","type":"switch","z":"b06d105d.6b8c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":540,"wires":[["c036ae3e.8f2b3"]]},{"id":"6fb0e36a.a506dc","type":"function","z":"b06d105d.6b8c9","name":"OFF First Time","func":"global.set(\"firstTimeON\",1)\nreturn msg;\n","outputs":1,"noerr":0,"x":960,"y":540,"wires":[[]]},{"id":"bc1eafa.7d5a55","type":"comment","z":"b06d105d.6b8c9","name":"Esto no se vuelve a repetir después del primer encendido.","info":"","x":550,"y":480,"wires":[]},{"id":"dbf0fe4c.ecd32","type":"link out","z":"b06d105d.6b8c9","name":"","links":["61e44e8f.eb97"],"x":1035,"y":400,"wires":[]},{"id":"1e78b24a.9c680e","type":"delay","z":"b06d105d.6b8c9","name":".","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":420,"wires":[["ec2d2bd1.e81398"]]},{"id":"ec2d2bd1.e81398","type":"change","z":"b06d105d.6b8c9","name":"\"CONECTADO\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"CONECTADO++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":420,"wires":[["dbf0fe4c.ecd32"]]}]