Flujos/flow.json
[{"id":"971f6fd2.8d2c6","type":"tab","label":"Control IR","disabled":false,"info":""},{"id":"da6b9b49.dded38","type":"tab","label":"Fechador_1","disabled":false,"info":""},{"id":"3816a375.c4df1c","type":"tab","label":"Fechador_2","disabled":false,"info":""},{"id":"28b22aab.37b276","type":"tab","label":"Fechador_3","disabled":false,"info":""},{"id":"e2ff48af.140278","type":"tab","label":"Fechador_4","disabled":false,"info":""},{"id":"f3365818.6eeda8","type":"tab","label":"Ajuste de Fecha y Hora","disabled":false,"info":"Flujo para ajustar la fecha y hora desde el Dashboar\ny enviar un comando para sobre escribir el \nRTC del Hardware"},{"id":"4f271909.81ecd8","type":"tab","label":"Control Wemos","disabled":false,"info":""},{"id":"92a4db08.46b278","type":"ui_group","z":"","name":"Contadores","tab":"f14c7352.d9dae","order":6,"disp":true,"width":"6","collapse":false},{"id":"57b2101d.1257","type":"ui_group","z":"3816a375.c4df1c","name":"Contador 2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"353665e1.0c625a","type":"ui_group","z":"","name":"Fechas","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"f14c7352.d9dae","type":"ui_tab","z":"","name":"Smart Industry","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"bc225a84.f6af58","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Industrial Display 4.0 IoT","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"403dcdfb.338e84","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"a513d46e.3063f8","type":"mqtt-broker","z":"","name":"","broker":"web.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"598eeace.22e674","type":"ui_group","z":"","name":"Contador 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"33d6431c.8524ec","type":"ui_group","z":"","name":"Contador 3","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"e9ad69bc.996428","type":"ui_group","z":"","name":"Contador 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"87b57a1.62eff88","type":"ui_group","z":"","name":"WS2812B LED STRIP","tab":"","order":1,"disp":true,"width":"6"},{"id":"37dddca2.b3c844","type":"ui_group","z":"","name":"Contador 1","tab":"f14c7352.d9dae","order":2,"disp":true,"width":"6","collapse":false},{"id":"6513763f.977ef8","type":"ui_group","z":"","name":"Contador 2","tab":"f14c7352.d9dae","order":3,"disp":true,"width":"6","collapse":false},{"id":"63229fd1.4f0ac","type":"ui_group","z":"","name":"Contador 3","tab":"f14c7352.d9dae","order":4,"disp":true,"width":"6","collapse":false},{"id":"290606f0.4bdd6a","type":"ui_group","z":"","name":"Contador 4","tab":"f14c7352.d9dae","order":5,"disp":true,"width":"6","collapse":false},{"id":"dd28d26d.cde3b","type":"ui_group","z":"","name":"Contacto","tab":"f14c7352.d9dae","order":1,"disp":false,"width":"6","collapse":false},{"id":"d9192967.e2e3c8","type":"ui_spacer","name":"spacer","group":"dd28d26d.cde3b","order":6,"width":"6","height":1},{"id":"81dde7d2.57b688","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"4f3c234c.65822c","type":"function","z":"da6b9b49.dded38","name":"actualiza contador","func":"var contador = flow.get('numero')||0;\n\ncontador = msg.payload;\nflow.set('numero',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":690,"y":200,"wires":[["de32d0b7.02806","5efa816c.817d2","cbd30d30.6bc7a"]]},{"id":"325d7bf8.582254","type":"inject","z":"da6b9b49.dded38","name":"contador automatico","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":"","x":180,"y":260,"wires":[["f66ce417.fa2108"]]},{"id":"5efa816c.817d2","type":"ui_text_input","z":"da6b9b49.dded38","name":"","label":"Actualizar conteo 1","tooltip":"","group":"37dddca2.b3c844","order":1,"width":"6","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","x":690,"y":120,"wires":[["4f3c234c.65822c"]]},{"id":"f3cbb485.91fab8","type":"comment","z":"da6b9b49.dded38","name":"Inizializacion de contador con valor almacenado y fecha de ultima sync","info":"","x":290,"y":60,"wires":[]},{"id":"748f21b4.b2495","type":"function","z":"da6b9b49.dded38","name":"dias_desde","func":"var selector = flow.get('auto')||0;\nvar Moment =  context.global.get('moment');\nvar d  = global.get('fecha')||0;\nvar cuenta = flow.get('numero')||0;\nvar msg2 = {payload:selector};\n\n\nvar actual =  new Moment();\nvar ultima =  new Moment(d,'DD/MM/YYYY, HH:mm:ss');\n\nvar days = actual.diff(ultima, 'days');\n//flow.set('numero',117);\n\nglobal.set('dias',days);\n\nif(selector === true)\n{\n    msg.payload = cuenta + days;\n    return [msg,msg2]; \n}\nelse\n{\n    msg.payload = cuenta;\n    return [msg,msg2]; \n}\n\n\n","outputs":2,"noerr":0,"x":450,"y":100,"wires":[["4f3c234c.65822c"],["a04a451a.3012d8"]]},{"id":"de32d0b7.02806","type":"function","z":"da6b9b49.dded38","name":"Selector_Display","func":"var convertidor;\nvar Moment =  context.global.get('moment');\nvar color = flow.get('color')||0;\nvar numero = flow.get('numero')||0;\nvar fecha = new Moment();\nglobal.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\nvar msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: color}\n\nconvertidor ='|' +  numero + ',' + color + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":690,"y":260,"wires":[["4934dfe3.97ef5"],[],["b76cdc3b.c940b"]]},{"id":"34244130.72441e","type":"inject","z":"f3365818.6eeda8","name":"Refresh","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":"30","x":160,"y":160,"wires":[["9e7813f5.9bc08","9a4beaad.d69f68","2a00a952.f85d36"]]},{"id":"9e7813f5.9bc08","type":"function","z":"f3365818.6eeda8","name":"fecha","func":"var Moment =  context.global.get('moment');\n\nvar actual =  new Moment();\nmsg.payload = actual.format('MMMM Do YYYY, HH:mm:ss');\nvar msg2 = {payload: actual.format('HH:mm:ss')};\n//var msg2 = {payload: actual.format('LTS')};\nvar msg3 = {payload: actual.format('LLL')};\n\nreturn [msg, msg2, msg3];","outputs":3,"noerr":0,"x":370,"y":160,"wires":[[],["a856c9a6.470bd8","8c365fc9.7fb94"],["dd3afe18.2946d","cbf41f1e.e281d"]]},{"id":"2216d911.73a6a6","type":"ui_text_input","z":"f3365818.6eeda8","name":"","label":"Actualizar Hora","group":"92a4db08.46b278","order":2,"width":0,"height":0,"passthru":false,"mode":"time","delay":"0","topic":"","x":1080,"y":140,"wires":[["b5896277.63b1d"]]},{"id":"48077be9.8bd6e4","type":"ui_date_picker","z":"f3365818.6eeda8","name":"Fecha Actual","label":"Actualiza fecha del tablero","group":"92a4db08.46b278","order":3,"width":0,"height":0,"passthru":false,"topic":"","x":670,"y":200,"wires":[["b260361e.2973d8"]]},{"id":"8cc0f1ce.160b6","type":"comment","z":"f3365818.6eeda8","name":"Muestra y modifica la fecha y hora del sistema","info":"","x":210,"y":100,"wires":[]},{"id":"6e27e461.2c911c","type":"exec","z":"f3365818.6eeda8","command":"sudo hwclock --set --date ","addpay":true,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"","x":1450,"y":200,"wires":[["820690bd.0053"],[],[]]},{"id":"b260361e.2973d8","type":"function","z":"f3365818.6eeda8","name":"formato","func":"var Moment =  context.global.get('moment');\nvar d = msg.payload;\nvar actual =  new Moment(d);\nvar hora = new Moment();\nmsg.payload = '\"' + actual.format('L') + ' ' + hora.format('HH:mm') + '\"';\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":200,"wires":[["383a0d4e.56e142"]]},{"id":"820690bd.0053","type":"exec","z":"f3365818.6eeda8","command":"sudo hwclock --hctosys","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1730,"y":200,"wires":[["533f46c7.60b198"],["533f46c7.60b198"],["533f46c7.60b198"]]},{"id":"533f46c7.60b198","type":"debug","z":"f3365818.6eeda8","name":"dias desde","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1970,"y":200,"wires":[]},{"id":"dd3afe18.2946d","type":"rbe","z":"f3365818.6eeda8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":200,"wires":[["48077be9.8bd6e4"]]},{"id":"b5896277.63b1d","type":"function","z":"f3365818.6eeda8","name":"formato","func":"var Moment =  context.global.get('moment');\nvar d = msg.payload;\nvar actual =  new Moment();\nvar hora = new Moment(d);\nmsg.payload = '\"' + actual.format('L') + ' ' + hora.add(6,'hours').format('HH:mm') + '\"';\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":140,"wires":[["6e27e461.2c911c","6db5af96.03cca"]]},{"id":"8c365fc9.7fb94","type":"moment","z":"f3365818.6eeda8","name":"","topic":"","input":"payload","inputType":"msg","inTz":"America/Mexico_City","adjAmount":"6","adjType":"hours","adjDir":"subtract","format":"","locale":"es_MX","output":"payload","outputType":"msg","outTz":"America/Mexico_City","x":580,"y":140,"wires":[["1aea216a.a87f9f"]]},{"id":"383a0d4e.56e142","type":"delay","z":"f3365818.6eeda8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":200,"wires":[["6e27e461.2c911c","6db5af96.03cca"]]},{"id":"64ba6cd9.2bb8b4","type":"mqtt in","z":"da6b9b49.dded38","name":"","topic":"display/cuenta_1","qos":"2","broker":"a513d46e.3063f8","x":140,"y":180,"wires":[["e0a03479.83bd48"]]},{"id":"30cedf93.6673c","type":"mqtt in","z":"f3365818.6eeda8","name":"","topic":"display/fecha/ajuste","qos":"2","broker":"a513d46e.3063f8","x":690,"y":260,"wires":[["b260361e.2973d8","6db5af96.03cca"]]},{"id":"6db5af96.03cca","type":"debug","z":"f3365818.6eeda8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":360,"wires":[]},{"id":"24a0aa9a.f7ef96","type":"mqtt out","z":"f3365818.6eeda8","name":"","topic":"display/fecha","qos":"","retain":"","broker":"a513d46e.3063f8","x":830,"y":340,"wires":[]},{"id":"a856c9a6.470bd8","type":"function","z":"f3365818.6eeda8","name":"formato","func":"var Moment =  context.global.get('moment');\nvar d = msg.payload;\nvar actual =  new Moment(d);\nvar hora = new Moment();\nmsg.payload =  hora.format('HH:mm');\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":80,"wires":[["88cef171.7fc9c"]]},{"id":"88cef171.7fc9c","type":"rbe","z":"f3365818.6eeda8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":80,"wires":[["6ac3f680.e75308"]]},{"id":"6ac3f680.e75308","type":"mqtt out","z":"f3365818.6eeda8","name":"","topic":"display/hora","qos":"","retain":"","broker":"a513d46e.3063f8","x":850,"y":80,"wires":[]},{"id":"1a8396e5.a75879","type":"mqtt in","z":"f3365818.6eeda8","name":"","topic":"display/hora/ajuste","qos":"2","broker":"a513d46e.3063f8","x":1090,"y":80,"wires":[["b5896277.63b1d","6db5af96.03cca"]]},{"id":"cbf41f1e.e281d","type":"function","z":"f3365818.6eeda8","name":"formato","func":"var Moment =  context.global.get('moment');\nvar d = msg.payload;\nvar actual =  new Moment(d);\nvar hora = new Moment();\nmsg.payload =  actual.format('DD/MM/YYYY');\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":340,"wires":[["546bf17c.92328"]]},{"id":"1aea216a.a87f9f","type":"rbe","z":"f3365818.6eeda8","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":770,"y":140,"wires":[["6c9d011d.bef58"]]},{"id":"6c9d011d.bef58","type":"delay","z":"f3365818.6eeda8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":910,"y":140,"wires":[["2216d911.73a6a6"]]},{"id":"546bf17c.92328","type":"rbe","z":"f3365818.6eeda8","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":690,"y":340,"wires":[["24a0aa9a.f7ef96"]]},{"id":"7338bd8.97db644","type":"mqtt in","z":"da6b9b49.dded38","name":"","topic":"display/color_1","qos":"0","broker":"a513d46e.3063f8","x":140,"y":320,"wires":[["30e743be.04039c"]]},{"id":"30e743be.04039c","type":"function","z":"da6b9b49.dded38","name":"Set Color","func":"var color = flow.get('color')||0;\ncolor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('color',color);\n\nmsg = {payload: color};\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["de32d0b7.02806","b76cdc3b.c940b"]]},{"id":"f66ce417.fa2108","type":"function","z":"da6b9b49.dded38","name":"AutoCont","func":"var contador = flow.get('numero')||0;\nvar selector = flow.get('auto')||0;\n\n\nif(selector === true)\n{\n    contador = (contador + 1)/1;\n    msg.payload = contador;\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["4f3c234c.65822c"]]},{"id":"e0a03479.83bd48","type":"function","z":"da6b9b49.dded38","name":"conversor_Int","func":"var contador = msg.payload;\n\ncontador = contador / 1; //Lo convierte a entero\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["4f3c234c.65822c"]]},{"id":"a5c51edf.7dc3c","type":"ui_switch","z":"da6b9b49.dded38","name":"","label":"Conteo Automatico","tooltip":"","group":"37dddca2.b3c844","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":440,"wires":[["a04a451a.3012d8"]]},{"id":"a04a451a.3012d8","type":"function","z":"da6b9b49.dded38","name":"Activador","func":"var selector = msg.payload;\n\nflow.set('auto',selector);\n\nmsg.payload = flow.get('auto')||false;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":440,"wires":[["a5c51edf.7dc3c"]]},{"id":"b400cda3.3d682","type":"function","z":"3816a375.c4df1c","name":"actualiza contador","func":"var contador = flow.get('numero')||0;\n\ncontador = msg.payload;\nflow.set('numero',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["755bd2e1.41c42c","d10282e.dcaf28","b21e55cd.d69338"]]},{"id":"b1008deb.bf18e","type":"inject","z":"3816a375.c4df1c","name":"contador automatico","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":"","x":180,"y":240,"wires":[["33cd5a00.69cfd6"]]},{"id":"755bd2e1.41c42c","type":"ui_text_input","z":"3816a375.c4df1c","name":"","label":"Actualizar conteo 2","tooltip":"","group":"6513763f.977ef8","order":1,"width":"6","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","x":690,"y":100,"wires":[["b400cda3.3d682"]]},{"id":"4bef9520.1d60ac","type":"comment","z":"3816a375.c4df1c","name":"Inizializacion de contador con valor almacenado y fecha de ultima sync","info":"","x":290,"y":40,"wires":[]},{"id":"c5677ff7.e0e7","type":"function","z":"3816a375.c4df1c","name":"dias_desde","func":"var selector = flow.get('auto')||0;\nvar Moment =  context.global.get('moment');\nvar d  = global.get('fecha')||0;\nvar cuenta = flow.get('numero')||0;\nvar msg2 = {payload:selector};\n\n\nvar actual =  new Moment();\nvar ultima =  new Moment(d,'DD/MM/YYYY, HH:mm:ss');\n\nvar days = actual.diff(ultima, 'days');\n//flow.set('numero',117);\n\nglobal.set('dias',days);\n\nif(selector === true)\n{\n    msg.payload = cuenta + days;\n    return [msg,msg2]; \n}\nelse\n{\n    msg.payload = cuenta;\n    return [msg,msg2]; \n}\n\n\n","outputs":2,"noerr":0,"x":450,"y":80,"wires":[["b400cda3.3d682"],["143b24de.cde74b"]]},{"id":"d10282e.dcaf28","type":"function","z":"3816a375.c4df1c","name":"Selector_Display","func":"var convertidor;\nvar Moment =  context.global.get('moment');\nvar color = flow.get('color')||0;\nvar numero = flow.get('numero')||0;\nvar fecha = new Moment();\nglobal.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\nvar msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: color};\n\nconvertidor ='/' +  numero + ',' + color + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":690,"y":240,"wires":[["8ac72f49.6299b"],[],["6c5bb1f5.b0cfd"]]},{"id":"ea200c0c.6542e","type":"mqtt in","z":"3816a375.c4df1c","name":"","topic":"display/cuenta_2","qos":"2","broker":"a513d46e.3063f8","x":140,"y":160,"wires":[["ef14c236.b187e"]]},{"id":"33cd5a00.69cfd6","type":"function","z":"3816a375.c4df1c","name":"AutoCont","func":"var contador = flow.get('numero')||0;\nvar selector = flow.get('auto')||0;\n\n\nif(selector === true)\n{\n    contador = (contador + 1)/1;\n    msg.payload = contador;\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["b400cda3.3d682"]]},{"id":"ef14c236.b187e","type":"function","z":"3816a375.c4df1c","name":"conversor_Int","func":"var contador = msg.payload;\n\ncontador = contador / 1; //Lo convierte a entero\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["b400cda3.3d682"]]},{"id":"95deca92.789f48","type":"ui_switch","z":"3816a375.c4df1c","name":"","label":"Conteo Automatico","tooltip":"","group":"6513763f.977ef8","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":440,"wires":[["143b24de.cde74b"]]},{"id":"143b24de.cde74b","type":"function","z":"3816a375.c4df1c","name":"Activador","func":"var selector = msg.payload;\n\nflow.set('auto',selector);\n\nmsg.payload = flow.get('auto')||false;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":440,"wires":[["95deca92.789f48"]]},{"id":"fde48cb2.659ef","type":"mqtt in","z":"3816a375.c4df1c","name":"","topic":"display/color_2","qos":"0","broker":"a513d46e.3063f8","x":140,"y":300,"wires":[["cc6dd181.d8ccc","c5677ff7.e0e7"]]},{"id":"cc6dd181.d8ccc","type":"function","z":"3816a375.c4df1c","name":"Set Color","func":"var color = flow.get('color')||0;\ncolor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('color',color);\n\nmsg = {payload: true};\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["d10282e.dcaf28","6c5bb1f5.b0cfd"]]},{"id":"80472b8a.5aa818","type":"function","z":"28b22aab.37b276","name":"actualiza contador","func":"var contador = flow.get('numero')||0;\n\ncontador = msg.payload;\nflow.set('numero',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["7fcea811.d860a8","c93eb21e.206a","89aec3e7.ea2d5"]]},{"id":"f725afb9.ad4fd","type":"inject","z":"28b22aab.37b276","name":"contador automatico","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":"","x":180,"y":240,"wires":[["f2c99167.b3bdc"]]},{"id":"7fcea811.d860a8","type":"ui_text_input","z":"28b22aab.37b276","name":"","label":"Actualizar conteo 3","tooltip":"","group":"63229fd1.4f0ac","order":1,"width":"6","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","x":690,"y":100,"wires":[["80472b8a.5aa818"]]},{"id":"acd8b05.42c3f5","type":"comment","z":"28b22aab.37b276","name":"Inizializacion de contador con valor almacenado y fecha de ultima sync","info":"","x":290,"y":40,"wires":[]},{"id":"7eb9d217.f6dd2c","type":"function","z":"28b22aab.37b276","name":"dias_desde","func":"var selector = flow.get('auto')||0;\nvar Moment =  context.global.get('moment');\nvar d  = global.get('fecha')||0;\nvar cuenta = flow.get('numero')||0;\nvar msg2 = {payload:selector};\n\n\nvar actual =  new Moment();\nvar ultima =  new Moment(d,'DD/MM/YYYY, HH:mm:ss');\n\nvar days = actual.diff(ultima, 'days');\n//flow.set('numero',117);\n\nglobal.set('dias',days);\n\nif(selector === true)\n{\n    msg.payload = cuenta + days;\n    return [msg,msg2]; \n}\nelse\n{\n    msg.payload = cuenta;\n    return [msg,msg2]; \n}\n\n\n","outputs":2,"noerr":0,"x":450,"y":80,"wires":[["80472b8a.5aa818"],["f7e91b6c.8467a8"]]},{"id":"c93eb21e.206a","type":"function","z":"28b22aab.37b276","name":"Selector_Display","func":"var convertidor;\nvar Moment =  context.global.get('moment');\nvar color = flow.get('color')||0;\nvar numero = flow.get('numero')||0;\nvar fecha = new Moment();\nglobal.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\nvar msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: color};\n\nconvertidor ='*' +  numero + ',' + color + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":690,"y":240,"wires":[["aa6baa93.411978"],[],["ff35a783.405808"]]},{"id":"834e8fe6.84565","type":"mqtt in","z":"28b22aab.37b276","name":"","topic":"display/cuenta_3","qos":"2","broker":"a513d46e.3063f8","x":140,"y":160,"wires":[["45709485.98170c"]]},{"id":"f2c99167.b3bdc","type":"function","z":"28b22aab.37b276","name":"AutoCont","func":"var contador = flow.get('numero')||0;\nvar selector = flow.get('auto')||0;\n\n\nif(selector === true)\n{\n    contador = (contador + 1)/1;\n    msg.payload = contador;\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["80472b8a.5aa818"]]},{"id":"45709485.98170c","type":"function","z":"28b22aab.37b276","name":"conversor_Int","func":"var contador = msg.payload;\n\ncontador = contador / 1; //Lo convierte a entero\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["80472b8a.5aa818"]]},{"id":"4a78767.390b088","type":"ui_switch","z":"28b22aab.37b276","name":"","label":"Conteo Automatico","tooltip":"","group":"63229fd1.4f0ac","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":440,"wires":[["f7e91b6c.8467a8"]]},{"id":"f7e91b6c.8467a8","type":"function","z":"28b22aab.37b276","name":"Activador","func":"var selector = msg.payload;\n\nflow.set('auto',selector);\n\nmsg.payload = flow.get('auto')||false;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":440,"wires":[["4a78767.390b088"]]},{"id":"28cd3e4.81e00c2","type":"mqtt in","z":"28b22aab.37b276","name":"","topic":"display/color_3","qos":"0","broker":"a513d46e.3063f8","x":140,"y":300,"wires":[["f88d1928.e5fe08","7eb9d217.f6dd2c"]]},{"id":"f88d1928.e5fe08","type":"function","z":"28b22aab.37b276","name":"Set Color","func":"var color = flow.get('color')||0;\ncolor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('color',color);\n\nmsg = {payload: true};\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["c93eb21e.206a","ff35a783.405808"]]},{"id":"586fe8d7.8af0b8","type":"function","z":"e2ff48af.140278","name":"actualiza contador","func":"var contador = flow.get('numero')||0;\n\ncontador = msg.payload;\nflow.set('numero',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":670,"y":180,"wires":[["414ddb9f.eaab34","71f8cb27.5915f4","f1f7e141.813ff"]]},{"id":"d6b78899.a638f8","type":"inject","z":"e2ff48af.140278","name":"contador automatico","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":"","x":160,"y":240,"wires":[["d180f35.7beb91"]]},{"id":"414ddb9f.eaab34","type":"ui_text_input","z":"e2ff48af.140278","name":"","label":"Actualizar conteo 4","tooltip":"","group":"290606f0.4bdd6a","order":1,"width":"6","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","x":670,"y":100,"wires":[["586fe8d7.8af0b8"]]},{"id":"5de75d94.dca394","type":"comment","z":"e2ff48af.140278","name":"Inizializacion de contador con valor almacenado y fecha de ultima sync","info":"","x":270,"y":40,"wires":[]},{"id":"3ff30847.730d08","type":"function","z":"e2ff48af.140278","name":"dias_desde","func":"var selector = flow.get('auto')||0;\nvar Moment =  context.global.get('moment');\nvar d  = global.get('fecha')||0;\nvar cuenta = flow.get('numero')||0;\nvar msg2 = {payload:selector};\n\n\nvar actual =  new Moment();\nvar ultima =  new Moment(d,'DD/MM/YYYY, HH:mm:ss');\n\nvar days = actual.diff(ultima, 'days');\n//flow.set('numero',117);\n\nglobal.set('dias',days);\n\nif(selector === true)\n{\n    msg.payload = cuenta + days;\n    return [msg,msg2]; \n}\nelse\n{\n    msg.payload = cuenta;\n    return [msg,msg2]; \n}\n\n\n","outputs":2,"noerr":0,"x":430,"y":80,"wires":[["586fe8d7.8af0b8"],["a284f8fb.23cd48"]]},{"id":"71f8cb27.5915f4","type":"function","z":"e2ff48af.140278","name":"Selector_Display","func":"var convertidor;\nvar Moment =  context.global.get('moment');\nvar color = flow.get('color')||0;\nvar numero = flow.get('numero')||0;\nvar fecha = new Moment();\nglobal.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\nvar msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: color};\n\nconvertidor ='!' +  numero + ',' + color + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":670,"y":240,"wires":[["21d364fd.057cfc"],[],["608bb285.459cdc"]]},{"id":"9ca2a460.cb7628","type":"mqtt in","z":"e2ff48af.140278","name":"","topic":"display/cuenta_4","qos":"2","broker":"a513d46e.3063f8","x":120,"y":160,"wires":[["1d4b63be.de2f1c"]]},{"id":"d180f35.7beb91","type":"function","z":"e2ff48af.140278","name":"AutoCont","func":"var contador = flow.get('numero')||0;\nvar selector = flow.get('auto')||0;\n\n\nif(selector === true)\n{\n    contador = (contador + 1)/1;\n    msg.payload = contador;\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["586fe8d7.8af0b8"]]},{"id":"1d4b63be.de2f1c","type":"function","z":"e2ff48af.140278","name":"conversor_Int","func":"var contador = msg.payload;\n\ncontador = contador / 1; //Lo convierte a entero\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["586fe8d7.8af0b8"]]},{"id":"c2acdda6.3cc52","type":"ui_switch","z":"e2ff48af.140278","name":"","label":"Conteo Automatico","tooltip":"","group":"290606f0.4bdd6a","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":440,"wires":[["a284f8fb.23cd48"]]},{"id":"a284f8fb.23cd48","type":"function","z":"e2ff48af.140278","name":"Activador","func":"var selector = msg.payload;\n\nflow.set('auto',selector);\n\nmsg.payload = flow.get('auto')||false;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["c2acdda6.3cc52"]]},{"id":"3deec2bc.4fc0ee","type":"mqtt in","z":"e2ff48af.140278","name":"","topic":"display/color_4","qos":"0","broker":"a513d46e.3063f8","x":120,"y":300,"wires":[["85dbebda.7184f8","3ff30847.730d08"]]},{"id":"85dbebda.7184f8","type":"function","z":"e2ff48af.140278","name":"Set Color","func":"var color = flow.get('color')||0;\ncolor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('color',color);\n\nmsg = {payload: true};\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["71f8cb27.5915f4","608bb285.459cdc"]]},{"id":"2c639b88.ed0b24","type":"switch","z":"971f6fd2.8d2c6","name":"Tecla","property":"msg.payload:string[1]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"cont","v":"menu","vt":"str"},{"t":"cont","v":"ok","vt":"str"},{"t":"cont","v":"+","vt":"str"},{"t":"cont","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":390,"y":140,"wires":[["db068869.9cbd58"],["db068869.9cbd58"],["db068869.9cbd58"],["db068869.9cbd58"],["db068869.9cbd58"],["db068869.9cbd58"],["db068869.9cbd58"],["db068869.9cbd58"],["db068869.9cbd58"],["a94db6bc.a86ff8"],["3c7bb89d.2502c8"],["f4481414.749558"],["8c77f72b.ef5648"]],"outputLabels":["tecla 1","tecla 2","tecla 3","tecla 4","tecla 5","tecla 6","tecla 7","tecla 8","tecla 9","tecla menu","tecla ok","",""]},{"id":"db068869.9cbd58","type":"change","z":"971f6fd2.8d2c6","name":"","rules":[{"t":"set","p":"algo","pt":"msg","to":"numero oprimido","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":100,"wires":[["8963f3c.3860d1"]]},{"id":"a94db6bc.a86ff8","type":"change","z":"971f6fd2.8d2c6","name":"","rules":[{"t":"set","p":"algo","pt":"msg","to":"menu","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[["8963f3c.3860d1"]]},{"id":"3c7bb89d.2502c8","type":"change","z":"971f6fd2.8d2c6","name":"","rules":[{"t":"set","p":"algo","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":220,"wires":[["8963f3c.3860d1"]]},{"id":"8963f3c.3860d1","type":"debug","z":"971f6fd2.8d2c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"algo","x":790,"y":140,"wires":[]},{"id":"f4481414.749558","type":"change","z":"971f6fd2.8d2c6","name":"","rules":[{"t":"set","p":"algo","pt":"msg","to":"+","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":260,"wires":[["8963f3c.3860d1"]]},{"id":"8c77f72b.ef5648","type":"change","z":"971f6fd2.8d2c6","name":"","rules":[{"t":"set","p":"algo","pt":"msg","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[["8963f3c.3860d1"]]},{"id":"ebd132b.966b4d","type":"serial out","z":"971f6fd2.8d2c6","name":"Puente_Nano","serial":"403dcdfb.338e84","x":480,"y":480,"wires":[]},{"id":"38c21063.c2d51","type":"delay","z":"971f6fd2.8d2c6","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":480,"wires":[["ebd132b.966b4d"]]},{"id":"cbd30d30.6bc7a","type":"mqtt out","z":"da6b9b49.dded38","name":"","topic":"display/disp_1","qos":"0","retain":"false","broker":"a513d46e.3063f8","x":940,"y":200,"wires":[]},{"id":"2f9d90c6.bdb72","type":"link in","z":"971f6fd2.8d2c6","name":"serial-puente","links":["21d364fd.057cfc","4934dfe3.97ef5","8ac72f49.6299b","aa6baa93.411978"],"x":140,"y":420,"wires":[["38c21063.c2d51"]]},{"id":"4934dfe3.97ef5","type":"link out","z":"da6b9b49.dded38","name":"fechador_1","links":["2f9d90c6.bdb72"],"x":880,"y":260,"wires":[]},{"id":"8ac72f49.6299b","type":"link out","z":"3816a375.c4df1c","name":"fechador_2","links":["2f9d90c6.bdb72"],"x":855,"y":240,"wires":[]},{"id":"aa6baa93.411978","type":"link out","z":"28b22aab.37b276","name":"fechador_3","links":["2f9d90c6.bdb72"],"x":895,"y":240,"wires":[]},{"id":"21d364fd.057cfc","type":"link out","z":"e2ff48af.140278","name":"fechador_4","links":["2f9d90c6.bdb72"],"x":880,"y":260,"wires":[]},{"id":"89366755.2450f8","type":"serial in","z":"971f6fd2.8d2c6","name":"Desde-Nano","serial":"403dcdfb.338e84","x":70,"y":140,"wires":[["30c15ce6.84d604","ff4ae511.d91698"]]},{"id":"30c15ce6.84d604","type":"split","z":"971f6fd2.8d2c6","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":140,"wires":[["2c639b88.ed0b24","ff4ae511.d91698"]]},{"id":"b21e55cd.d69338","type":"mqtt out","z":"3816a375.c4df1c","name":"","topic":"display/disp_2","qos":"0","retain":"false","broker":"a513d46e.3063f8","x":920,"y":180,"wires":[]},{"id":"89aec3e7.ea2d5","type":"mqtt out","z":"28b22aab.37b276","name":"","topic":"display/disp_3","qos":"0","retain":"false","broker":"a513d46e.3063f8","x":940,"y":180,"wires":[]},{"id":"f1f7e141.813ff","type":"mqtt out","z":"e2ff48af.140278","name":"","topic":"display/disp_4","qos":"0","retain":"false","broker":"a513d46e.3063f8","x":920,"y":180,"wires":[]},{"id":"4148c907.3dd738","type":"link in","z":"da6b9b49.dded38","name":"refresh_1","links":["9a4beaad.d69f68"],"x":175,"y":100,"wires":[["748f21b4.b2495"]]},{"id":"9a4beaad.d69f68","type":"link out","z":"f3365818.6eeda8","name":"tiempo_refresh","links":["4148c907.3dd738","7edfd899.423388","a4b60753.67cbe8","daa175cc.4ce548"],"x":300,"y":260,"wires":[]},{"id":"ff4ae511.d91698","type":"debug","z":"971f6fd2.8d2c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":280,"wires":[]},{"id":"7edfd899.423388","type":"link in","z":"3816a375.c4df1c","name":"refresh_2","links":["146f51f1.91972e","9a4beaad.d69f68"],"x":255,"y":80,"wires":[["c5677ff7.e0e7"]]},{"id":"a4b60753.67cbe8","type":"link in","z":"28b22aab.37b276","name":"refresh_3","links":["146f51f1.91972e","9a4beaad.d69f68"],"x":180,"y":80,"wires":[["7eb9d217.f6dd2c"]]},{"id":"daa175cc.4ce548","type":"link in","z":"e2ff48af.140278","name":"refresh_4","links":["146f51f1.91972e","9a4beaad.d69f68"],"x":120,"y":80,"wires":[["3ff30847.730d08"]]},{"id":"b76cdc3b.c940b","type":"ui_dropdown","z":"da6b9b49.dded38","name":"","label":"Color","tooltip":"","place":"Seleccionar color","group":"37dddca2.b3c844","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"100","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"},{"label":"Blanco","value":"0","type":"str"}],"payload":"","topic":"","x":670,"y":320,"wires":[["30e743be.04039c"]]},{"id":"6c5bb1f5.b0cfd","type":"ui_dropdown","z":"3816a375.c4df1c","name":"","label":"Color","tooltip":"","place":"Seleccionar color","group":"6513763f.977ef8","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"100","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"},{"label":"Blanco","value":"0","type":"str"}],"payload":"","topic":"","x":650,"y":300,"wires":[["cc6dd181.d8ccc"]]},{"id":"ff35a783.405808","type":"ui_dropdown","z":"28b22aab.37b276","name":"","label":"Color","tooltip":"","place":"Seleccionar color","group":"63229fd1.4f0ac","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"100","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"},{"label":"Blanco","value":"0","type":"str"}],"payload":"","topic":"","x":650,"y":300,"wires":[["f88d1928.e5fe08"]]},{"id":"608bb285.459cdc","type":"ui_dropdown","z":"e2ff48af.140278","name":"","label":"Color","tooltip":"","place":"Seleccionar color","group":"290606f0.4bdd6a","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"100","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"},{"label":"Blanco","value":"0","type":"str"}],"payload":"","topic":"","x":630,"y":300,"wires":[["85dbebda.7184f8"]]},{"id":"2a00a952.f85d36","type":"ui_template","z":"f3365818.6eeda8","group":"dd28d26d.cde3b","name":"Logo","order":2,"width":"0","height":"0","format":"\n<img src=\"https://static.wixstatic.com/media/a3a830_61f357cc9c154582b58d0b7b64c96c85~mv2.png/v1/fill/w_1038,h_94,al_c,q_80,usm_0.66_1.00_0.01/logo%20pagina%20web.webp\" style=\"width:100%;\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":330,"y":420,"wires":[[]]},{"id":"db851f14.114a9","type":"serial in","z":"4f271909.81ecd8","name":"Desde-ESP32","serial":"81dde7d2.57b688","x":170,"y":140,"wires":[["323def6d.7e61f"]]},{"id":"323def6d.7e61f","type":"switch","z":"4f271909.81ecd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!","vt":"str"},{"t":"cont","v":"#","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":140,"wires":[["e45889bf.dd2338"],["5c4937dc.936e78"]]},{"id":"e45889bf.dd2338","type":"change","z":"4f271909.81ecd8","name":"Eliminar \"!\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"!","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":100,"wires":[["c0e1812a.f676"]]},{"id":"5c4937dc.936e78","type":"change","z":"4f271909.81ecd8","name":"Eliminar \"#\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"#","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":160,"wires":[["c0e1812a.f676"]]},{"id":"c0e1812a.f676","type":"debug","z":"4f271909.81ecd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":100,"wires":[]}]